:root{
    --color-white1: #FAFAFA;
    --color-white2: #ffffff;
    --color-text:#000000;
}


.card-img, .card {
    width: 350px;
    object-fit: cover;
    aspect-ratio: 3/2;
}

/* .card img{
    aspect-ratio: 3/2;
    object-fit: cover;
    overflow: hidden; 
} */

p {
    margin-top: -10px;
}